<h1>Confirm below link and setup your new password</h1>

<p>
  <%= @greeting %>,
</p>

<p>
  You have been invited to our app. Please
  <%= link_to "Setup up a new password to log in to your accout", @url, target: "_blank" %>
</p>
