<h4>Tickets Assigned to you in the month of <%= @date.strftime('%B') %></h4>

<table class="table table-striped tale-bordered">
  <thead>
    <tr>
      <th>Title</th>
      <th>Priority</th>
      <th>Status</th>
      <th>Assigned On</th>
      <th>Assigned By</th>
    </tr>
  </thead>
  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <td><%= ticket.title %></td>
        <td><%= ticket.priority %></td>
        <td><%= ticket.status.humanize %></td>
        <td><%= ticket.assignment.try(:assigned_at).strftime('%d %b, %y %I:%M %p') %></td>
        <td><%= ticket.customer.try("full_name") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
